body {
    background-color: #f8f9fa;
  }
  .container {
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  form {
    padding: 20px;
    background: #eaedf5;
    border-radius: 10px;
  }
  h1 {
    text-align: center;
    color: #343a40;
  }
  #message {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
  }
  #loader {
    text-align: center;
    font-weight: bold;
  }